# python version 3.7.9
pydicom==2.1.2
dicom2nifti==2.2.12
nibabel==3.2.1
matplotlib==3.4.1
jupyterlab==3.0.16
nilearn==0.7.1
SimpleITK==1.2.4
h5py==3.3.0
tqdm==4.61.2
zarr==2.8.3
hydra-core==0.11.3
dotenv==0.0.5
python_dotenv==0.19.0
joblib==1.0.1
ConfigArgParse==1.5.1
Pillow==8.3.1
pytorch-lightning==0.9.0
torch==1.9.0+cu111 torchvision==0.10.0+cu111 -f https://download.pytorch.org/whl/torch_stable.html
cycler==0.10.0
imageio==2.9.0
pandas==1.3.1
p_tqdm==1.3.3
scikit-image==0.18.2
# install midasmednet: cd external/torch-mednet; pip install -e .